@import url("https://fonts.googleapis.com/css2?family=Enriqueta:wght@400;500;600;700&family=Lobster&display=swap");

:root {
  --Enriqueta: "Enriqueta", serif;
  --Oleo: "Lobster", cursive;

  --primary-green: #2ccf6d;
  --primary-blue: #273e47;
  --primary-black: #0000;
  --primary-grey: #888;
  --primary-white: #edf2f4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

body {
  width: 100vw;
  height: 100%;
  font-family: var(--Enriqueta);
  background-color: var(--primary-white);
  overflow-x: hidden;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--primary-grey);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
