.shape__wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.shape__wave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 92px;
  transform: rotateY(180deg);
}

.shape__wave .shape-fill {
  fill: #edf2f4;
}

.shape {
  position: relative;
}

.shape__wave-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.shape__wave-bottom svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 132px;
}

.shape__wave-bottom .shape-fill {
  fill: #edf2f4;
}
